<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="assets/cart.jpg">
</div>
<ul>
  <li>
    <button href="https://angular.io/tutorial"><h2>Shop Food</h2></button>
  </li>
  <li>
    <button href="https://github.com/angular/angular-cli/wiki"><h2>Shop Clothes</h2></button>
  </li>
  <li>
    <button href="https://blog.angular.io//"><h2>Administrator Login</h2></button></h2>
  </li>
</ul>

